<VirtualHost *:80>
    ServerAdmin admin@avionics411.com
    DocumentRoot /usr/share/zabbix/ui
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>