launch=gmysql
gmysql-host={{ sql_host }}
gmysql-password={{ powerdns_sql_password }}
local-address=127.0.0.1
local-port=5353
api=yes
api-key={{ powerdns_api_key }}
webserver=yes
webserver-address=0.0.0.0
webserver-port=8081
webserver-allow-from=192.168.0.0/16,10.0.0.0/8,127.0.0.1
webserver-password={{ powerdns_webserver_password }}
primary=yes
secondary=yes
dnsupdate=yes
allow-dnsupdate-from=10.1.20.1/32,127.0.0.0/8,10.1.20.5/32,10.1.20.6/32
allow-notify-from=10.1.20.1/32,127.0.0.0/8,10.1.20.5/32,10.1.20.6/32
forward-dnsupdate=yes